header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4CAF50;
    color: white;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}
span{
    font-weight: bold;
    font-family: cursive;
}
header .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

nav {
    display: flex;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}
